{{ partial "general-title" . }}

{{ partial "header" . }}
<!-- Wrapper -->
<div id="wrapper">
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
      <article class="post">
        <header class="topheader">
            {{ $languageprefix := .LanguagePrefix }}
            <div class="title">
              <h1>
                <i class="fa fa-calendar"></i>
                <a href="{{ $languageprefix}}/project">Projects </a>
                / {{ i18n "contributors" }}: {{ .Title }}
              </h1>
              <h4>{{ i18n "contributors" }}</h4>
              <p>
                {{ if .Site.Params.categoriesByCount }}
                  {{ $.Scratch.Set "collaborator" .Site.Taxonomies.collaborators.ByCount }}
                {{ else }}
                  {{ $.Scratch.Set "collaborator" .Site.Taxonomies.collaborators.Alphabetical }}
                {{ end }}
                {{ $.Scratch.Set "firstitem" true }}
                {{ range $key, $value := $.Scratch.Get "collaborator" }}
                  {{ if eq ($.Scratch.Get "firstitem") false }}
                    <span> / </span>
                  {{ end }}
                  <a href="{{ $languageprefix }}/collaborators/{{ $value.Name | urlize }}/">{{ $value.Name }} ({{ $value.Count }})</a>
                  {{ $.Scratch.Set "firstitem" false }}
                {{ end }}
              </p>
              <h4>{{ i18n "categoriess" }}</h4>
              <p>
                {{ if .Site.Params.categoriesByCount }}
                  {{ $.Scratch.Set "projectcategory" .Site.Taxonomies.projectcategories.ByCount }}
                {{ else }}
                  {{ $.Scratch.Set "projectcategory" .Site.Taxonomies.projectcategories.Alphabetical }}
                {{ end }}
                {{ $.Scratch.Set "firstitem" true }}
                {{ range $key, $value := $.Scratch.Get "projectcategory" }}
                  {{ if eq ($.Scratch.Get "firstitem") false }}
                    <span> / </span>
                  {{ end }}
                  <a href="{{ $languageprefix }}/projectcategories/{{ $value.Name | urlize }}/">{{ $value.Name }} ({{ $value.Count }})</a>
                  {{ $.Scratch.Set "firstitem" false }}
                {{ end }}
              </p>
            </div>
        </header>
      </article>
        <!-- <h1>{{ i18n "categories" }}</h1> -->
        {{ $paginator := .Paginate (where .Data.Pages "Type" "event") }}
        {{ range $paginator.Pages }}
            {{ .Render "content-list" }}
        {{ end }}

        {{ partial "pagination" . }}
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
