<header>
  {{ $name := .Params.name }}
  <div class="meta">
    {{ .Render "featured" }}
  </div>
    <div class="title">
      <div>
        <ul class="collapsible" data-collapsible="expandable">
          <li>
            <div class="collapsible-header">
              <a href="{{ .Permalink }}">
                <h2 style="margin:0px;">{{ $name }}</h2>
                <h3>{{ .Params.position }}</h3>
                <h4>{{ i18n .Params.role }}</h4>
              </a>
            </div>
          </li>
          {{ with .Params.website }}
              <li>
                <div class="collapsible-header">
                  <i class="fa fa-globe"></i>
                  <a href="{{ . }}" target="_blank" title="Website">
                      Website
                  </a>
                </div>
              </li>
          {{ end }}
          {{ with .Params.email }}
            <li>
              <div class="collapsible-header">
                <i class="fa fa-envelope"></i>
                <a href="mailto:{{ . }}" title="Email">
                    Email
                </a>
              </div>
            </li>
          {{ end }}
          {{ with .Params.github }}
            <li>
              <div class="collapsible-header">
                <i class="fa fa-github"></i>
                <a href="//github.com/{{ . }}" target="_blank" title="Github">
                    {{ . }}
                </a>
              </div>
            </li>
          {{ end }}
          {{ with .Params.twitter }}
            <li>
              <div class="collapsible-header">
                <i class="fa fa-twitter"></i>
                <a href="//twitter.com/{{ . }}" target="_blank" title="Twitter">
                    {{ . }}
                </a>
              </div>
            </li>
          {{ end }}
          {{ with .Params.facebook }}
            <li>
              <div class="collapsible-header">
                <i class="fa fa-facebook"></i>
                <a href="//facebook.com/{{ . }}" target="_blank" title="Facebook">
                    {{ . }}
                </a>
              </div>
            </li>
          {{ end }}
          {{ with .Params.instagram }}
            <li>
              <div class="collapsible-header">
                <i class="fa fa-instagram"></i>
                <a href="//instagram.com/{{ . }}" target="_blank" title="Instagram">
                    {{ . }}
                </a>
              </div>
            </li>
          {{ end }}
          {{ with .Params.slideshare }}
            <li>
              <div class="collapsible-header">
                <i class="fa fa-slideshare"></i>
                <a href="//slideshare.com/{{ . }}" target="_blank" title="Slideshare">
                    {{ . }}
                </a>
              </div>
            </li>
          {{ end }}
          {{ with .Params.xing }}
            <li>
              <div class="collapsible-header">
                <i class="fa fa-xing"></i>
                <a href="//xing.com/profile/{{ . }}" target="_blank" title="Xing">
                    {{ . }}
                </a>
              </div>
            </li>
          {{ end }}
          {{ with .Params.linkedin }}
            <li>
              <div class="collapsible-header">
                <i class="fa fa-xing"></i>
                <a href="//linkedin.com/in/{{ . }}" target="_blank" title="Linkedin">
                    {{ . }}
                </a>
              </div>
            </li>
          {{ end }}
          <li>
            <div class="collapsible-header">
              <i class="fa fa-user"></i>
              <a>
                {{ i18n "shortbio" }}
              </a>
            </div>
            <div class="collapsible-body">
              <p>
                {{ .Params.bio | markdownify }}
              </p>
            </div>
          </li>
    <li>
      <div class="collapsible-header">
        <i class="fa fa-flask"></i>
        <a>{{ i18n "projects" }}</a>
      </div>
      <div class="collapsible-body">
        <ul>
          {{ range $collaborator, $projects := $.Site.Taxonomies.collaborators }}
          {{ if eq $collaborator $name }}
          {{ range $i, $project := $projects }}
          <li>
            <div class="listitem">
              <a href="{{ $project.Page.URL }}">
                <h6 class="date">
                  {{ dateFormat "2006" $project.Page.Date }}
                </h6>
                <h6 class="author">
                  {{ delimit $project.Page.Params.collaborators ", " }}
                </h6>
                <h5 class="listtitle">
                  {{ $project.Page.Title }}
                </h5>
              </a>
            </div>
          </li>
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="fa fa-calendar"></i>
        <a>{{ i18n "events" }}</a>
      </div>
      <div class="collapsible-body">
        <ul>
          {{ range $participant, $events := $.Site.Taxonomies.participants }}
          {{ if eq $participant $name }}
          {{ range $i, $event := $events }}
          <li>
            <div class="listitem">
              <a href="{{ $event.Page.URL }}">
                <h6 class="date">
                  {{ dateFormat "2.1.2006" $event.Page.Date }}
                </h6>
                <h6 class="author">
                  {{ delimit $event.Page.Params.participants ", " }}
                </h6>
                <h5 class="listtitle">
                  {{ $event.Page.Title }}
                </h5>
              </a>
            </div>
          </li>
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="fa fa-graduation-cap"></i>
        <a>{{ i18n "publications" }}</a>
      </div>
      <div class="collapsible-body">
        <ul>
          {{ $.Scratch.Set "nopublication" true }}
          {{ with $pubid := .Params.publications }}
          {{ range $publication := (index $.Site.Data.publications $pubid) }}
          {{ $.Scratch.Set "nopublication" false }}
          <li>
            <div class="listitem">
              <a href="{{ $publication.url }}">
                <h6 class="date">
                  {{ $publication.year }}, {{ $publication.journal}}
                </h6>
                <h5 class="listtitle">
                  {{ $publication.title }}
                </h5>
                <h6 class="author">
                  {{ $publication.author }}
                </h6>
              </a>
            </div>
          </li>
          {{ end }}
          {{ end }}
          {{ if eq ($.Scratch.Get "nopublication") true }}
          <h5> {{ i18n "name_unfortunatelynopublications" .Params }}</h5>
          {{ end }}
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="fa fa-newspaper-o"></i>
        <a>{{ i18n "blogposts" }}</a>
      </div>
      <div class="collapsible-body">
        <ul>
          {{ range $author, $posts := $.Site.Taxonomies.authors }}
          {{ if eq $author $name }}
          {{ range $i, $post := $posts }}
          <li>
            <div class="listitem">
              <a href="{{ $post.Page.URL }}">
                <h6 class="date">
                  {{ dateFormat "2.1.2006" $post.Page.Date }}
                </h6>
                <h5 class="listtitle">
                  {{ $post.Page.Title }}
                </h5>
                <h6 class="author">
                  {{ delimit $post.Page.Params.authors ", " }}
                </h6>
              </a>
            </div>
          </li>
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </li>
  </ul>
</header>
