<a href="http://biotop.co/xmascal{{ .Site.LanguagePrefix }}">
<div id="landing_circle">
  <p>
    CHRISTMAS CALENDAR NOW ONLINE!
  </p>
</div>
</a>
<style>
  #landing_circle {
    z-index: 1000;
    position: absolute;
    margin-left: 70vw;
    margin-right: auto;
    margin-top: 55vh;
    width: 250px;
    height: 250px;
    background-color: #2E4653;
    border-radius: 50%;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-1ss0deg);

  }

  #landing_circle > p {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    letter-spacing: 0.25em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
  }
</style>
