<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
        <section id="intro" background="#fff">
            {{ $pic := .Site.Params.intro.pic }}
            {{ with $pic.src }}
                {{ if $pic.circle }}
                    <img src="{{ . }}" class="intro-circle" width="{{ $pic.width }}" alt="{{ $pic.alt }}" />
                {{ else if $pic.imperfect }}
                    <a href="/" class="logo"><img src="{{ . }}" alt="{{ $pic.alt }}" /></a>
                {{ else }}
                    <img src="{{ . }}" width="{{ $pic.width }}" alt="{{ $pic.alt }}" />
                {{ end }}
            {{ end }}
            <header>
                <h2>{{ i18n "header" }}</h2>
                <p>{{ i18n "subtitle" | safeHTML }}</p>
            </header>
            <ul class="icons">
                {{ if .RSSLink }}
                    <li><a href="{{ .RSSLink }}" type="application/rss+xml"
                        target="_blank" title="RSS" class="fa fa-rss"></a></li>
                {{ end }}
                {{ if .Site.Params.socialAppearAtTop }}
                    {{ partial "social" . }}
                {{ end }}
            </ul>
            <p>{{ i18n "blob" }}</p>
            <ul class="actions">
                <li><a href="{{.LanguagePrefix }}/about/" class="button">{{ i18n "learnmore" }}</a></li>
                <!-- <li><a href="/about/" class="button">Learn More About This Visualisation</a></li> -->
            </ul>
        </section>

    <!-- About -->


</section>
